<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
<style>
  .star {
      animation: kirakira 8s linear;
      color: yellow;
      display: inline-block;
      height: 1em;
      line-height: 1em;
      position: fixed;
      top: -1em;
      z-index: 1000;
  }

  @keyframes kirakira {
      0% {
          transform:translateY(0) rotateY(0);
      }
      100% {
          transform:translateY(calc(100vh + 1em)) rotateY(3600deg);
      }
  }
</style>
</head>
<body>
完璧です！流石です！
どんどん進めちゃってください！
<script>
let myName ="Yurie";
console.log(myName);
alert("Hi, I'm a popup window!");

function starMaker(n) {
    var star = document.createElement("div");
    star.className = "star";
    star.textContent = "★";
    for(var i = 0; i < n; i++) {
        starSet(star);
    }
}

function starSet(clone) {
    var starClone = clone.cloneNode(true);
    var starStyle = starClone.style;

    starStyle.left = 100 * Math.random() + "%";
    starStyle.animationDelay = 8 * Math.random() + "s";
    starStyle.fontSize = ~~(50 * Math.random() + 20) + "px";
    document.body.appendChild(starClone);

    starClone.addEventListener("animationend", function() {
        this.parentNode.removeChild(this);
        var star = document.createElement("div");
        star.className = "star";
        star.textContent = "★";
        starSet(star);
    }, false)
}
starMaker(50)
  //要件のカバー度５（全部出来た）
  //難易度４（簡単だった）
  //初課題です！課題レビューよろしくお願いします。

</script>
</body>
</html>